* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;

}

body {
    background: hwb(202 18% 17%);
}

.card {
    width: 70%;
    max-width: 470px;
    background: white
        /*linear-gradient(135deg,#00feba,#5b548a)*/
    ;
    color: black;
    margin: 30px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.search input {
    border: 0;
    outline: 0;
    background: hwb(202 18% 17%);
    color: #555;
    flex: 1;
    width: 70%;

    padding: 10px 25px;
    height: 20px;
    border-color: black;
    border-radius: 30px;
    font-size: 18px;
    margin-right: 16px;


}

.search button {
    border: 0;
    outline: 0;
    background: hwb(202 18% 17%);
    height: 50px;

    border-radius: 50%;
    width: 50px;
    cursor: pointer;

}

.search button i {
    font-size: 20px;
    width: 16px;
}

.weather-icon {
    width: 90px;
    margin-top: 30px;

}

.weather h1 {
    font-size: 50px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.col img {
    width: 30px;
    margin-bottom: 10px;
}

.humidity {
    font-size: 18px;
    margin: -6px;
    text-align: center;

    padding-bottom: 10px;
}

.wind {
    font-size: 18px;
    margin: -6px;
    text-align: center;

    padding-bottom: 10px;

}


.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
    display: none;
}

@media(min-width:576) {
    .card {
        width: 70%;
        max-width: 470px;
        background: white
            /*linear-gradient(135deg,#00feba,#5b548a)*/
        ;
        color: black;
        margin: 30px auto 0;
        border-radius: 20px;
        padding: 40px 35px;
        text-align: center;
    }

    .search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;


    }

    .search input {
        border: 0;
        outline: 0;
        background: hwb(202 18% 17%);
        color: #555;
        flex: 1;
        width: 70%;

        padding: 10px 25px;
        height: 20px;
        border-color: black;
        border-radius: 30px;
        font-size: 18px;
        margin-right: 16px;


    }

    .search button {
        border: 0;
        outline: 0;
        background: hwb(202 18% 17%);
        height: 50px;

        border-radius: 50%;
        width: 50px;
        cursor: pointer;

    }

    .search button i {
        font-size: 20px;
        width: 16px;
    }

    .weather-icon {
        width: 90px;
        margin-top: 30px;

    }

    .weather h1 {
        font-size: 50px;
        font-weight: 500;
    }

    .weather h2 {
        font-size: 45px;
        font-weight: 400;
    }

    .details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 50px;
    }

    .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .col img {
        width: 30px;
        margin-bottom: 10px;
    }

    .humidity {
        font-size: 18px;
        margin: -6px;
        text-align: center;

        padding-bottom: 10px;
    }

    .wind {
        font-size: 18px;
        margin: -6px;
        text-align: center;

        padding-bottom: 10px;

    }


    .weather {
        display: none;
    }

    .error {
        text-align: left;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 14px;
        display: none;
    }
}

@media(min-width:1200px) {
    .card {
        width: 90%;
        max-width: 470px;
        background: white
            /*linear-gradient(135deg,#00feba,#5b548a)*/
        ;
        color: black;
        margin: 30px auto 0;
        border-radius: 20px;
        padding: 40px 35px;
        text-align: center;
    }

    .search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;


    }

    .search input {
        border: 0;
        outline: 0;
        background: hwb(202 18% 17%);
        color: #555;
        flex: 1;
        height: 60px;
        padding: 10px 25px;
        height: 30px;
        border-color: black;
        border-radius: 30px;
        font-size: 18px;
        margin-right: 16px;


    }

    .search button {
        border: 0;
        outline: 0;
        background: hwb(202 18% 17%);
        height: 60px;
        border-radius: 50%;
        width: 60px;
        cursor: pointer;

    }

    .search button i {
        font-size: 20px;
        width: 16px;
    }

    .weather-icon {
        width: 170px;
        margin-top: 30px;

    }

    .weather h1 {
        font-size: 80px;
        font-weight: 500;
    }

    .weather h2 {
        font-size: 45px;
        font-weight: 400;
    }

    .details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 50px;
    }

    .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .col img {
        width: 40px;
        margin-bottom: 10px;
    }

    .humidity {
        font-size: 28px;
        margin: -6px;
        padding-left: 10px;

        padding-bottom: 10px;
    }

    .wind {
        font-size: 28px;
        margin: -6px;
        padding-left: 20px;
        padding-bottom: 10px;

    }

    .wind-p {
        padding-left: 30px;
    }

    .weather {
        display: none;
    }

    .error {
        text-align: left;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 14px;
        display: none;
    }
}